<router-outlet></router-outlet>
<h1 style="color:blue">LISTA DE CURSOS</h1>
<table border="1" style="background-color: aqua;" >
  <thead>
    <tr>
      <th>ID CURSO</th>
      <th>NOMBRE</th>
      <th>DURACIÓN</th>
      <th>NIVEL</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let datos of curs ">
    <td>{{datos.idCurso}}</td>
    <td>{{datos.nombre}}</td>
    <td>{{datos.duracion}}</td>
    <td>{{datos.nivel}}</td>
    <!--queryparametros son para mas de parametros-->
    <td><button [routerLink]="['/modificar',datos.idCurso]" >modificar</button></td>
    <button (click)="eliminar(datos.idCurso) ">Eliminar</button>
  </tr>
  </tbody>
  </table>
  <br>
  <td><button [routerLink]="['/alta',]" >Alta</button>
    <!-- [queryParams]="{id:datos.idCurso,nombre:datos.nombre,duracion:datos.duracion}" -->
